@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = "Book Details";
}

@if (Model.Book != null)
{
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Book.Title</dd>

        <dt class="col-sm-2">Author</dt>
        <dd class="col-sm-10">@Model.Book.Author</dd>

        <dt class="col-sm-2">Year</dt>
        <dd class="col-sm-10">@Model.Book.Year</dd>

        <dt class="col-sm-2">Copyright Info</dt>
        <dd class="col-sm-10">@Model.Book.CopyrightInfo</dd>
    </dl>
}
else
{
    <p>Book not found.</p>
}
